<div class="navbar navbar-default custom-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="" target="_blank" aria-label="Gaurav Bhatt"></a>
      <a class="navbar-brand brand-text" href="#/"><img class="brand-img" src="assets/images/favicon/mstile-150x150.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="nav navbar-nav">
        <li class="divider-vertical hidden-xs"></li>
        <li>
          <a href="" ui-sref="home">Tech</a>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeds</a>
          <ul class="dropdown-menu pb-animate-menu">
            <li>
              <a ui-sref="news">News</a>
            </li>
            <li>
              <a ui-sref="cricket">Cricket</a>
            </li>
          </ul>
        </li>
        <li>
          <a ui-sref="deals">Twitter Search</a>
        </li>
        <!-- end left menus -->

      </ul>

    <!-- /navbar-collapse -->
  </div>
  <!-- /container -->
</div>
<!-- /navbar -->
